.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.calculator{
    height: 350px;
    width:180px;
}

.cal-buttons{
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}
.cal-buttons:hover{
    background-color: yellow;
}